/********************************************************************************* 
*
* WEB222 – Assignment #4a
*
* I declare that this assignment is my own work in accordance with Seneca 
* Academic Policy. No part of this assignment has been copied manually or 
* electronically from any other source (including web sites) or distributed to 
* other students. 
* 
* Name: Leny Fe Fernandez Student ID: 120818174 Date: 2018-03-18_ 
* 
********************************************************************************/

/*Step 1*/
/*In class main-container, set the maximum witdth to 960 pixels and set margins to auto*/
.main-container {
    max-width: 960px;
    margin: auto;
}

/*Select all <nav> elements that are a child of an element with class="main-container" and adjust it's size and position*/
.main-container nav {
    width: 30%;
    float: left;
}
/*Select the element with class="main" that are a child of an element with class="main-container" and adjust it's size and position*/
.main-container .main{
    width:70%;
    float: right;
}
/*Select <header> element that are a child of an element with class= "main-container", set padding, background color, bottom border, and bottom margin*/
.main-container header{
    padding: 10px;
    background-color: #eeeeee;
    border-bottom: 1px solid #cccccc;
    margin-bottom:  30px;
}
/*Select <h1> element that is a child of <header> element and is a child of an element with class="main-container",
set the width, font-size, position, text alignment, and top margin */
.main-container header h1{
    width: 70%;
    font-size: 24px;
    float: right;
    text-align: right;
    margin-top: 10px;
}
/*Select <footer> element that is a child of an element with class="main-container", set position of element, padding, background-color, top border, and font-size*/
.main-container footer{
    clear: both;
    padding: 20px 10px;
    background-color: #eeeeee;
    border-top: 1px solid #cccccc;
    font-size: 13px;
}

/*Step 2*/
/*Select an element with id=logo and set the width, the font-size, and the font-weight*/
#logo {
    
    font-size: 25px;
    font-weight: bold;
}
/*Select all <img> element that are a child of an element with id="logo" and set the width and position  */
#logo img {
    width: 94px;
    vertical-align: middle;
}

/*Select all <ul> element that are a child of <nav> element and modify list-style-type*/
nav ul {
    list-style-type: none;
}
/*select all <a> element that are a child of <ul> element which are also a child of <nav> element and set display and padding */
nav ul a {
    display: inline;
    text-decoration: none;
    padding: 5px;
}

/*Step 3*/
/*Select all <div> element with class="province" and set width, float, margin, height*/
div.province {
    width: 30%;
    float: left;
    margin: 8px;
    height: 310px;
}

/*Select all element with class="description" that are a child of <div> element with class="province", set max-height, overflow and margin properties*/
div.province .description {
    max-height: 165px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 8px;
}
/*Select all <a> element that are a child of <div> element with class="province", set display, position of text, background color, text color, and padding properties*/
div.province a {
    display:inline;
    text-align: center;
    background-color: #555555;
    color: #eeeeee;
    text-decoration: none;
    padding: 5px;
}

/* Select all <img> element with class="flag" and set width*/
img.flag {
    width: 100%;
}